@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@100;200;300;400;500;600&display=swap");

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h1,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  padding: 1rem 4.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .logo,
.navbar .cartIcon {
  height: 2rem;
  cursor: pointer;
}

.cartStats {
  display: flex;
  align-items: center;
  position: relative;
}

.cartStats .itemNumbers {
  display: flex;
  position: absolute;
  bottom: -0.4rem;
  right: -0.4rem;
  background: #f88749;
  height: 1rem;
  width: 1rem;
  padding: 0.2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.productList {
  max-height: 88vh;
  display: grid;
  padding: 2.6rem 10rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  justify-items: center;
  overflow: auto;
}

.productList::-webkit-scrollbar {
  display: none;
}

.productList li {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.6rem;
  cursor: pointer;
  width: 100%;
}

.productList li:hover {
  .imgCover {
    box-shadow: inset 0 0 4rem #dbdbdb4f;
  }
}

.imgCover {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.6rem;
  padding-bottom: 0.1rem;
  box-shadow: 0 0 1rem #dbdbdba2;
  border-radius: 5px;
}

.imgCover img {
  height: 10rem;
  object-fit: contain;
}

.imgCover p {
  align-self: flex-end;
  background-color: #333;
  color: #fff;
  padding: 0.1rem 0.4rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.productInfo h4 {
  font-size: 1rem;
  color: #444;
  opacity: 0.8;
}

.productInfo p {
  font-size: 1rem;
  font-weight: 500;
}

/* Cart CSS */
.cart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 94vh;
  width: 20rem;
  background: #fff;
  box-shadow: 0 1rem 1rem #e5e4e46a;
  padding: 1.2rem 1.8rem;
}

.hide {
  position: absolute;
  right: -30rem;
  opacity: 0;
}

.show {
  position: absolute;
  right: 0;
  opacity: 1;
}

/* cartList */
.cartProductList {
  height: 65vh;
  overflow: auto;
  transition: all 0.3s;
}

.cartProductList::-webkit-scrollbar {
  display: none;
}

.cartProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  box-shadow: 0 0 1rem #dbdbdb50;
  padding: 1.2rem 0.6rem;
  border-radius: 5px;
}

.cartProduct img {
  height: 3rem;
}

.cProductInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 0.4rem;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action i {
  align-self: flex-end;
  color: #444;
  cursor: pointer;
}

.quantity {
  align-self: flex-end;
  display: flex;
  gap: 0.6rem;
  display: flex;
  align-items: center;
}

.quantity p {
  width: 1rem;
  text-align: center;
}

.quantity button {
  border: none;
  font-size: 1.1rem;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

/* cartCheckout */
.cartCheckout {
  height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.8rem;
}

.cartCheckout h1 {
  color: #333333;
}

.cartCheckout .checkoutBtn {
  width: 50%;
  background-color: #2a9d8f;
  color: #fff;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.checkoutBtn:hover {
  background-color: #2a9d8f;
  box-shadow: 0 0.4rem 1rem #a4a3a3b6;
}

/* Empty Cart */
.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCart img {
  height: 14rem;
}

.checkoutMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.checkoutMessage p {
  width: 75%;
  text-align: center;
  line-height: 1.8;
  font-size: 1rem;
}

.checkoutMessage p span {
  color: #2a9d8f;
  font-weight: 600;
}

.checkoutMessage button {
  border: none;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1490px) {
  .productList {
    padding: 8rem 4rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 1293px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
    padding: 8rem;
  }
}

@media screen and (max-width: 1120px) {
  html {
    font-size: 88.5%;
  }

  .productList {
    padding: 8rem 4.6rem;
    max-height: 65vh;
  }

  .cart {
    height: 82vh;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 880px) {
  html {
    font-size: 82.5%;
  }

  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
    max-height: 69vh;
  }

  .cart {
    height: 87vh;
    margin-top: 3.8rem;
  }
}

@media screen and (max-width: 595px) {
  html {
    font-size: 90%;
  }

  .productList {
    grid-template-columns: 1fr;
    max-height: 66vh;
  }

  .cart {
    height: 86vh;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 595px) {
  html {
    font-size: 90%;
  }

  .productList {
    grid-template-columns: 1fr;
    max-height: 72vh;
  }

  .cart {
    height: 85vh;
    margin-top: 5.6rem;
    width: 88%;
  }
}
