@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h1,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style: none;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 3.6rem 2.8rem;
  padding-bottom: 0;
  background-color: #ffffff;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  max-height: 91vh;
  overflow: auto;
}

.productList::-webkit-scrollbar {
  display: none;
}

.productList li {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.productList li:hover {
  .imgCover {
    box-shadow: inset 0 0 4rem #dbdbdb4f;
  }
}

.imgCover {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 0.1rem;
  box-shadow: 0 0 1rem #dbdbdba2;
  border-radius: 5px;
}

.imgCover img {
  height: 10rem;
}

.imgCover p {
  align-self: flex-end;
  background-color: #333;
  color: #fff;
  padding: 0.1rem 0.4rem;
}

.productDetials {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
}

.productDetials .productInfo {
  display: flex;
  flex-direction: column;
}

.productDetials p {
  font-size: 0.8rem;
}

.productDetials .btn {
  border: none;
  padding: 0.4rem 0.8rem;
  font-family: "Outfit";
  background-color: #2a9d8f;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.productDetials .btn:hover {
  background-color: #0da492d0;
}

/* Cart CSS */
.cart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 80vh;
  box-shadow: 0 0 1rem #e5e4e46a;
  padding: 1.2rem 1.8rem;
}

/* cartList */
.cartProductList {
  height: 65vh;
  overflow: auto;
  transition: all 0.3s;
}

.cartProductList::-webkit-scrollbar {
  display: none;
}

.cartProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  box-shadow: 0 0 1rem #dbdbdb50;
  padding: 1.2rem 0.6rem;
  border-radius: 5px;
}

.cartProduct img {
  height: 3rem;
}

.cProductInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 0.4rem;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action i {
  align-self: flex-end;
  color: #444;
  cursor: pointer;
}

.quantity {
  align-self: flex-end;
  display: flex;
  gap: 0.6rem;
  display: flex;
  align-items: center;
}

.quantity p {
  width: 1rem;
  text-align: center;
}

.quantity button {
  border: none;
  font-size: 1.1rem;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

/* cartCheckout */
.cartCheckout {
  height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.8rem;
}

.cartCheckout h1 {
  color: #333333;
}

.cartCheckout .checkoutBtn {
  width: 50%;
  background-color: #2a9d8f;
  color: #fff;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.checkoutBtn:hover {
  background-color: #2a9d8f;
  box-shadow: 0 0.4rem 1rem #a4a3a3b6;
}

/* Empty Cart */
.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCart img {
  height: 14rem;
}

.checkoutMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.checkoutMessage p {
  width: 75%;
  text-align: center;
  line-height: 1.8;
  font-size: 1rem;
}

.checkoutMessage p span {
  color: #2a9d8f;
  font-weight: 600;
}

.checkoutMessage button {
  border: none;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}
